<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo-icon-all-white.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app-rtl.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body data-layout="horizontal" data-topbar="dark">
    <div id="layout-wrapper">
        {% include 'navbar.html' %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <h1 class="mb-5">Chatbot</h1>
                    </div>
                    <div id="chat-box"></div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="col-md-11">
                            <div class="form-floating">
                                <textarea class="form-control form-textarea" placeholder="Digite sua mensagem..."
                                    id="user-text"></textarea>
                                <label for="user-text">Digite sua mensagem...</label>
                            </div>
                        </div>
                        <div class="col-md-2 ms-1">
                            <button type="button" class="btn btn-primary btn-round" onclick="sendMessage()">
                                <i class="bi bi-check"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-2 mb-4">
                        <button type="button" class="btn btn-secondary"
                            onclick="fillInput('Encontrar vagas de emprego')">Vagas de Emprego</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="fillInput('Ver notícias')">Notícias</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="fillInput('Encontrar cursos')">Cursos</button>
                    </div>
                    <h4>Pesquise usando seus interesses para encontrar empregos, cursos e notícias relevantes.</h4>
                    <div class="d-flex flex-wrap gap-2 mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Comercial, Vendas"
                                id="chkComercialVendas">
                            <label class="form-check-label" for="chkComercialVendas">
                                Comercial, Vendas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Telemarketing" id="chkTelemarketing">
                            <label class="form-check-label" for="chkTelemarketing">
                                Telemarketing
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Logística" id="chkLogistica">
                            <label class="form-check-label" for="chkLogistica">
                                Logística
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Gastronomia" id="chkGastronomia">
                            <label class="form-check-label" for="chkGastronomia">
                                Gastronomia
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Administração" id="chkAdministracao">
                            <label class="form-check-label" for="chkAdministracao">
                                Administração
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Industrial, Produção"
                                id="chkIndustrialProducao">
                            <label class="form-check-label" for="chkIndustrialProducao">
                                Industrial, Produção
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Serviços Gerais"
                                id="chkServicosGerais">
                            <label class="form-check-label" for="chkServicosGerais">
                                Serviços Gerais
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Construção" id="chkConstrucao">
                            <label class="form-check-label" for="chkConstrucao">
                                Construção
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="TI, Telecomunicações"
                                id="chkTITelecomunicacoes">
                            <label class="form-check-label" for="chkTITelecomunicacoes">
                                TI, Telecomunicações
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Segurança" id="chkSeguranca">
                            <label class="form-check-label" for="chkSeguranca">
                                Segurança
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Finanças, Economia"
                                id="chkFinancasEconomia">
                            <label class="form-check-label" for="chkFinancasEconomia">
                                Finanças, Economia
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Saúde" id="chkSaude">
                            <label class="form-check-label" for="chkSaude">
                                Saúde
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-4">
                        <button type="button" class="btn btn-primary" onclick="searchAreas()">Buscar Áreas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script>
        function sendMessage() {
            var userInput = document.getElementById("user-text").value;
            if (userInput.trim() === "") return;

            document.getElementById("chat-box").innerHTML += "<p class='mt-4 mb-4'><strong>Você:</strong> " + userInput + "</p>";

            $.ajax({
                url: "/chatbot",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ msg: userInput }),
                success: function (data) {
                    document.getElementById("chat-box").innerHTML += "<p><strong>Chatbot:</strong> " + data.response + "</p>";
                }
            });

            document.getElementById("user-text").value = "";
        }

        function fillInput(text) {
            document.getElementById("user-text").value = text;
            sendMessage();
        }

        document.getElementById("user-text").addEventListener("keydown", function (event) {
            if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }
        });

        function searchAreas() {
            // Capturar os valores dos checkboxes selecionados
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            var selectedAreas = Array.from(checkboxes).map(function (checkbox) {
                return checkbox.value;
            });

            // Realizar a busca baseada nas áreas selecionadas
            $.ajax({
                url: "/areasearch",
                type: "GET",
                data: { area: selectedAreas.join(',') },
                success: function (data) {
                    var resposta = "";
                    if (data.vagas.length > 0) {
                        resposta += "<br><hr><p class='fs-5 text'><strong>Vagas de Emprego</strong></p><hr>";
                        data.vagas.forEach(function (vaga) {
                            resposta += "<p><b>Título:</b> " + vaga.titulo + "<br>"
                                + "<b>Área de Atuação:</b> " + vaga.areaAtuacao + "<br>"
                                + "<b>Descrição:</b> " + vaga.descricao + "<br>"
                                + "<b>Salário:</b> " + vaga.salario + "<br>"
                                + "<b>Requisitos:</b> " + vaga.requisitos.join(', ') + "<br>"
                                + "<b>Quantidade de Vagas:</b> " + vaga.quantVagas + " Horas: " + vaga.horas + "<br>"
                                + "<b>CNPJ:</b> " + vaga.cnpj + "<br></p>";
                        });
                    }
                    if (data.cursos.length > 0) {
                        resposta += "<br><hr><p class='fs-5 text'><strong>Cursos</strong></p><hr>";
                        data.cursos.forEach(function (curso) {
                            resposta += "<p><b>Título:</b> " + curso.titulo + "<br>"
                                + "<b>Área de Atuação:</b> " + curso.areaAtuacao + "<br>"
                                + "<b>Descrição:</b> " + curso.descricao + "<br>"
                                + "<b>Área de Atuação:</b> " + curso.areaAtuacao + "<br>"
                                + "<b>Preço:</b> " + curso.preco + "<br>"
                                + "<b>Duração:</b> " + curso.duracao + "<br>"
                                + "<a href='" + curso.link + "' target='_blank'>Mais informações</a><br></p>";
                        });
                    }
                    if (data.noticias.length > 0) {
                        resposta += "<br><hr><p class='fs-5 text'><strong>Notícias</strong></p><hr>";
                        data.noticias.forEach(function (noticia) {
                            resposta += "<p><b>Título:</b> " + noticia.titulo + "<br>"
                                + "<b>Área de Atuação:</b> " + noticia.areaAtuacao + "<br>"
                                + "<b>Descrição:</b> " + noticia.descricao + "<br>"
                                + "<b>Fonte:</b> " + noticia.fonte + "<br>"
                                + "<b>Data:</b> " + noticia.data + "<br></p>";
                        });
                    }
                    if (resposta === "") {
                        resposta = "<p>Nenhum resultado encontrado para as áreas selecionadas.</p>";
                    }
                    document.getElementById("chat-box").innerHTML += resposta;

                    // Limpar as seleções dos checkboxes
                    checkboxes.forEach(function (checkbox) {
                        checkbox.checked = false;
                    });
                }
            });
        }

    </script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/feather-icons/feather.min.js') }}"></script>
    <!-- pace js -->
    <script src="{{ url_for('static', filename='libs/pace-js/pace.min.js') }}"></script>

    <!-- apexcharts -->
    <script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"></script>

    <!-- Plugins js-->
    <script
        src="{{ url_for('static', filename='libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js') }}"></script>

    <script src="{{ url_for('static', filename='js/pages/allchart.js') }}"></script>

    <!-- dashboard init -->
    <!-- <script src="{{ url_for('static', filename='js/pages/dashboard.init.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>
