<!-- <header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50"> <span class="logo-txt">Chatbot - Caça Talentos</span>
                    </span>
                </a>
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50"> <span class="logo-txt">Chatbot - Caça Talentos</span>
                    </span>
                </a>
            </div>
            <button type="button"
                class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>
        <div class="d-flex">
            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div>
        </div>
    </div>
</header> -->

<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex align-items-center">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50"> <span class="logo-txt">Chatbot - Caça Talentos</span>
                    </span>
                </a>
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ url_for('static', filename='img/logo-all-white.png') }}" alt=""
                            height="50"> <span class="logo-txt">Chatbot - Caça Talentos</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="d-flex">
        <div class="dropdown d-sm-inline-block">
            <button type="button" class="btn header-item" id="mode-setting-btn">
                <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                <i data-feather="sun" class="icon-lg layout-mode-light"></i>
            </button>
            <script>
                (function() {
                    var btnDarkMode = document.querySelector("#mode-setting-btn");
                    if (localStorage.getItem("dark-mode")) {
                        document.body.dataset.layoutMode = "dark";
                        document.body.dataset.sidebar = "dark";
                        btnDarkMode.click();
                    }
                    btnDarkMode.addEventListener("click", function() {
                        if (document.body.dataset.layoutMode === "dark") {
                            localStorage.removeItem("dark-mode");
                            document.body.dataset.sidebar = null;
                            setTimeout(function() { 
                                document.body.dataset.topbar = "dark"; 
                                location.reload();
                            }, 1);
                        } else {
                            localStorage.setItem("dark-mode", true);
                            location.reload();
                        }
                    });
                })();
            </script>
        </div>
        </div>
    </div>
</header>